body {
    max-width: 1440px;
    margin:auto;
    background: #E5E5E5;
}

.header {
    display: block;
    position: fixed;
    background: #FFFFFF;
    border-radius: 8px;
    left:0;
    right: 0;
    z-index: 1;

    .container_1 {
        max-width: 1440px;
        margin: auto;
    }

    .content {
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 80px;
    }

    .logo_box {
        width: 144px;
        height: 111px;
        background: #ffffff;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        top:0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        cursor:pointer;
    }

    .logo_icon768 {
        display: none;
    }

    .logo_icon {
        margin: 10px 30px 21px 30px;
    }

    .search {
        width: 532px;
    }

    .img_and_search {
        display: flex;
        justify-content: center;


        input {
            width: 538px;
            height: 22px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #A8A8A8;
            border: none;

        }

        img {
            height: 24px;
            width: 24px;
        }

    }

    .line {
        width: 538px;
        height: 1px;
        background-color: #A8A8A8;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 80px;
        align-content:space-between;
    }

    .message {
        flex:1;
        cursor:pointer;
    }

    .avatar {
        cursor:pointer;
    }
}

.main {
    padding-top: 130px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-content:flex-end;
    gap:10px;

    aside {
        display: flex;
        align-content:flex-start;
        align-items:flex-start;

        .section_1 {
            display: flex;
            flex:1;
            justify-content: center;
        }

        .content {
            max-width: 304px;
            background: #FFFFFF;
            border-radius: 8px;
        }

        .Gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:space-between;
            padding-top: 25px;
            padding-bottom: 16px;
        }

        .img {
            margin: 0 9px 9px 0;
            width: 79px;
            height: 81px;
            cursor:pointer;
            position: relative;
        }

        .text {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #030F09;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .img:first-child {
            width: 254px;
            height: 150px;
        }

        .img:nth-child(3n+1) {
            margin: 0 0px 9px 0;
        }

        .white_box {
            background-color:rgba(255, 255, 255, 0.6);
            width: 79px;
            height: 81px;
            position: absolute;
        }
    }

    .all_content {
        max-width: 955px;
        margin:0 auto;
    }

    .container_2 {
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 25px;

        .content {
            padding: 25px 25px 0px 25px;
        }

        .mini-head {
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            padding-bottom: 41px;
        }

        .caption {
            display: flex;
        }

        .green_line {
            display: none;
        }

        h1 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #030F09;
            width: 382px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items:center;
        }

        .Edit {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.32px;
            color: #30BE76;
            border: none;
            background-color: white;
            padding: 0;
            margin-right: 48px;
        }

        .Start {
            background: #30BE76;
            border-radius: 8px;
            border:none;
            width: 160px;
            height: 50px;

                p {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    text-align: center;
                    color: #FFFFFF;
                }
        }

        .low_header {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #030F09;
            padding-bottom: 23px;
        }

        .Recipe {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 25px;
        }

        .part {
            display: flex;
            align-items:center;
            margin-bottom: 14px;
            

            .img {
                border:1px solid rgba(0, 0, 0, 1);
                display: flex;
                justify-content: center;
                align-items:center;
                width: 50px;
                height: 50px;
                border-radius:100px;
                margin-right: 16px;


            }

            p {
                font-family: 'Nunito', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #030F09;
                width: 249px;
            }
        }

        .part:nth-of-type(2n+1) {
            margin-right: 145px;
        }
    }

    .container_3 {
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 25px;

        .content {
            padding: 25px;
        }

        .caption {
            display: block;
        }

        h2 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #030F09;
            padding-bottom: 30px;

        }
        
        .only_text {
            display: flex;
            gap: 32px;
        }

        .text_list {
            counter-reset: parts;
        }

        .paragraph {
            display: flex;
            margin-bottom: 24px;
        }

        .paragraph:last-of-type {
            margin-bottom: 0px;
        }

        h3 {
            counter-increment: parts;
            color: #30BE76;
            border: 1px solid #30BE76;
            width: 20px;
            height: 20px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            margin-right: 17px;
        }

        h3:before {
            content: counter(parts);
        }

        h3:after {
            content: '';
        }

        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #030F09;
            flex: 1;
        }

        .Perview {
            cursor: pointer;
        }
    }

    .container_4 {
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 25px;

        .content {
            padding: 25px;                       
        }

        .mini_header {
            display: block;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #030F09;
            padding-bottom: 30px;
            display: block;
        }

        .all_text {
            display: flex;
            flex-wrap: wrap;
        }
        
        h4 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #A8A8A8;
            padding-right: 24px;
            display: flex;
            width: 105px;
        }

        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #030F09;
            width: 180px;
        }

        .paragraph {
            display: flex;
            width: 310px;
            margin-right: 130px;
        }

        .text {
            display: flex;
            flex-direction: column;
        }

        .green_line {
            display: none;
        }
    }

}

@media (max-width:768px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }

    .header {
        border-radius:0;

        .content {
            max-width: 720px;
            margin: auto;
        }

        .logo_box {
            width: 0;
            height: 0;
        }

        .logo_icon {
            display: none;
        }

        .logo_icon768 {
            display: block;
            margin: 15px 0 15px 12px;
            width: 52px;
            align-content: flex-start;
            display: flex;
        }

        .img_and_search {
            justify-content: flex-end;


            input {
                display: none;
            }

            img {
                align-self:flex-end;
            }
        }

        .line {
            display: none;
        }
    }
    .main {
        display: block;
        padding-top: 70px;

        aside {
            border-radius: 0;
            max-width: 768px;
            margin: 0 auto;
            flex-wrap: nowrap;

            .section1 {
                max-width: 720px;
                margin: 0 auto;
                
            }

            .content {
                max-width: 768px;
                margin: 0 auto;
                margin-bottom: 0;
                border-radius: 0;
            }

            .Gallery {
                justify-content: flex-start;
                padding-left: 12px;
            }

            .img {
                margin: 0 15px 15px 0;
            }

            .img:first-child {
                width: 360px;
                height: 217px;
                border: 1px solid red;
                content:url('../img/container2/Gallery/Big/Big_Img.png');
                // display: inline-block;
                margin: 0 15px 0px 0;
                
            }
        }

        .container_2 {
            margin-bottom: 0;
            border-radius: 0;

            .low_header {
                display: none;
            }

            .part:nth-of-type(2n+1) {
                margin-right: 15px;
            }
            
            .content {
                padding: 12px;
            }

            h1 {
                width: 360px;
            }

            .Edit {
                margin: 0px;
            }

            .buttons {
                align-content:space-between;
                flex:1;
            }
        }

        .container_3 {
            margin-bottom: 0;
            border-radius: 0;

            h2 {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                padding-bottom: 0px;
                height: 32px;
            }

            .green_line {
                display: block;
                width: 100%;
                height: 2px;
                background-color:#30BE76;
                margin-bottom: 25px;
            }

            .Perview {
                display: none;
            }
        }

        .container_4 {
            margin-bottom: 0;
            border-radius: 0;


            .paragraph {
                margin:0;
                flex:1;
            }

            h4 {
                width: 120px;   
            }

            P {
                width: 200px;
            }

            .mini_header {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                padding:0;
            }

            .green_line {
                display: block;
                width: 100%;
                height: 2px;
                background-color:#30BE76;
                margin-bottom: 25px;
            }

        }
    }

}